.banner {
  width: 100%;
  display: flex;
  justify-content: space-between;

  position: relative;
  overflow: visible;
}

.banner .img1 {
  width: 200px;
}

.banner .img3 {
  width: 100%;
  max-width: 1300px;
}

.banner .box-button {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.banner .box-button a {
  background-color: #08bbe9;
  color: #fff;
  font-size: 18px;
  padding: 7px 20px;
  border-radius: 20px;
}

.banner .box-button a:hover {
  background-color: #079fc5;
  transition: background-color 0.2s ease;
}

.banner .row1 {
  width: 40%;
  /* height: 100 !important; */
  padding-right: 30px;
  /* background-color: red; */
}

.banner .img2 {
  z-index: 20;
  width: 150px;
  position: absolute;
  left: 37%;
  bottom: -10px;
}

.banner .row2 {
  width: 60%;
  margin-right: -30px;
  display: flex;
  justify-content: flex-end;
}

.banner .banner-text {
  color: #1e0e62;
  font-size: 40px;
  font-weight: bold;
}

.banner .box-text {
  display: flex;
  justify-content: center;
  margin-top: -30px;
}

.banner .box-img2 {
  display: flex;
  justify-content: flex-end;
  margin-top: 70px;
  margin-right: -30px;
}

.mobile-banner-show {
  display: none;
}

.banner-mobile .box-text {
  width: 90%;
  margin-top: 10px;
}

.banner-mobile {
  display: flex !important;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  padding-bottom: 80px;
  margin-bottom: -110px;
}

.banner-mobile .banner-text {
  color: #1e0e62;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.banner-mobile .img-banner-mobile {
  width: 80%;
  max-width: 600px;
}

.banner-mobile .img2 {
  width: 72px;
  position: absolute;
  bottom: 0px;
  right: 20px;
}

.banner-mobile .img3 {
  width: 50px;
  position: absolute;
  left: -2px;
  top: 20%;
  /* right: 20px; */
}

.mobile-banner-show {
  display: none !important;
}

.banner-mobile .box-button {
  display: flex;
  justify-content: center;
  /* margin-left: -70px; */
  margin-top: 20px;
}

.banner-mobile .box-button a {
  background-color: #08bbe9;
  color: #fff;
  font-size: 18px;
  padding: 7px 20px;
  border-radius: 20px;
}

@media only screen and (min-width: 50px) and (max-width: 900px) {
  .desktop {
    display: none;
  }

  .mobile-banner-show {
    display: block !important;
    display: flex !important;
  }

  .banner .row1 {
    width: 100%;
    padding-right: 0px;
  }

  .banner .row2 {
    display: none;
  }

  .banner .img1 {
    width: 150px;
    margin-bottom: 30px;
  }

  .banner .img2 {
    width: 120px;
    position: absolute;
    left: 70%;
    bottom: -10px;
  }

  .banner .box-button {
    margin-bottom: 100px;
  }

  .banner-mobile .box-button a {
    font-size: 12px;
  }
}

@media only screen and (min-width: 901px) and (max-width: 1000px) {
  .banner .row1 {
    /* padding-bottom: 200px; */
  }

  .banner .row2 {
    padding-bottom: 200px;
  }
}

@media only screen and (min-width: 1001px) and (max-width: 1230px) {
  .banner .row1 {
    /* padding-bottom: 200px; */
  }

  .banner .row2 {
    padding-bottom: 150px;
  }
}
