.blog {
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: space-between;
    background-color: #EBEAED;
    position: relative;
}

.blog .box-img {
    width: 30%;
    padding-right: 120px;
}

.blog .box-content {
    z-index: 1;
    width: 100%;
}

.blog .content {
    width: 85%;
    max-width: 1100px;
}

.blog img {
    margin-top: -100px;
    width: 600px;
    z-index: 5;
}

.blog .content .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.blog .content .header h1 {
    color: #1E0E62;
    font-size: 38px;
    font-weight: bold;
}

  

.blog .content .header .box-link {
    /* background-color: red; */
}

.blog .content .header a {
    display: inline-block;
    color: #1E0E62;
    border: 2px solid #FFF;
    text-align: center;
    padding: 10px 20px;
    border-radius: 20px;
}

.blog .content .box-cards {
    display: flex;
}

.blog .content .card {
    background-color: #08BBE9;
    padding: 40px 50px;
    margin: 6px 12px;
    border-radius: 5px;
}


.blog .content .card .card-title {
    color: #10104F;
    font-weight: bold;
    font-size: 18px;
}

.blog .content .card p {
    color: #FFF;
    font-size: 12px;
    margin-top: 10px;
    line-height: 20px; 
}

.blog .content .card button {
    background-color: #FFF;
    padding: 5px 10px;
    border: none;
    border-radius: 20px;
    font-size: 12px;
    margin-top: 40px;
    cursor: pointer;
}

.blog .content .white{
    background-color: #FFF;
}

.blog .content .white p {
    color: #B0B0B0;
}

.blog .content .white button {
    color: #FFF;
    background-color: #08BBE9;
}

.blog .content .blue {
    background-color: #10104F;
    color: #fff;
}

.blog .content .blue .card-title{
    color: #fff;
}

.blog .content .bg-img {
    background-color: none;
    background-image: url("../img/04.png");
}

.blog .content .bg-img .card-title{
    color: #fff;
}

@media only screen and (min-width: 50px) and (max-width: 900px) {
    .blog {
        justify-content: center;
    }

    .blog .content {
        width: 100%;
    }

    .blog .content .header {
        padding: 0px 10px;
    }

    .box-img {
       display: none; 
    }

    .blog .content .header h1{
        font-size: 30px;
    }

    .blog .content .box-cards {
        flex-wrap: wrap;
    }
    
}

@media only screen and (min-width: 901px) and (max-width: 1299px){
    .blog .box-img {
        width: 30%;
        padding-right: 120px;
    }

    .blog img {
        margin-top: -70px;
        width: 400px;
        z-index: 5;
    }
}
