.contato {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #10104f;
}

.contato .content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  max-width: 1400px;

  margin-top: 100px;
}

.contato .title {
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 30px;
}

.contato .text {
  font-size: 20px;
  display: block;
  color: #b7b7ca;
  font-weight: 400;
}

.text-blue {
  color: #08bbe9;
}

.contato .box-texts {
  /* height: 100%; */
  margin-top: -100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  /* margin-right: 100px; */
}

.contato .row1 {
  margin-top: -13%;
}

.contato .row2 {
  width: 100%;
  max-width: 1300px;
  display: flex;
  justify-content: space-between;
  /* background: red; */
  position: relative;
  overflow: visible;
}
.contato .box-img {
  height: 100%;
}

.contato img.img {
  width: 430px;
  margin-top: 30px;
}

.contato .form {
  background-color: #fff;
  padding: 20px 40px;
  border-radius: 10px;
  margin-bottom: 100px;
}

.contato .form label {
  color: #10104f;
  font-size: 12px;
  font-weight: 500;
}

.contato .form input {
  width: 250px;
  padding: 11px 20px;
  border-radius: 50px;
  border: none;
  border: solid 2px #ebeaed;
  background-color: none;
  margin-bottom: 25px;
  margin-top: 10px;
  color: #8e8e8e;
  font-size: 12px;
}

.contato .form .cidade-estado {
  width: 292px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contato .form .cidade-estado input {
  width: 110px;
}

.contato .form .cidade-estado select {
  width: 118px;
  padding: 11px 20px;
  border-radius: 50px;
  border: none;
  border: solid 2px #ebeaed;
  color: #8e8e8e;
  background-color: none;
  margin-bottom: 25px;
  margin-top: 10px;
  font-size: 12px;
}
.contato .form select {
  font-size: 12px;
  width: 290px;
  padding: 11px 20px;
  border-radius: 50px;
  border: none;
  border: solid 2px #ebeaed;
  color: #8e8e8e;
  background-color: none;
  margin-bottom: 25px;
  margin-top: 10px;
}

.contato .form .box-button {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.contato .form .box-button button {
  width: 155px;
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
  background-color: #08bbe9;
  color: #fff;
  font-size: 18px;
}

.mobile {
  display: none !important;
}

@media only screen and (min-width: 50px) and (max-width: 900px) {
  .desktop {
    display: none !important;
  }
  .mobile {
    display: inline-block !important;
  }

  .contato .row1 {
    display: none;
  }

  .contato .content {
    margin-top: 50px;
  }

  .contato .content .row2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
  }

  .contato .box-texts {
    /* height: 100%; */
    margin-top: -100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-right: 100px; */
  }

  .contato .form {
    margin-top: 40px;
    margin-bottom: 50px;
    /* width: 76%; */
  }

  .contato .form input {
    width: 250px;
    padding: 11px 20px;
    border-radius: 50px;
    border: none;
    border: solid 2px #ebeaed;
    background-color: none;
    margin-bottom: 25px;
    margin-top: 10px;
    color: #8e8e8e;
    font-size: 12px;
  }

  /* .contato .form {
    background-color: #fff;
    padding: 20px 40px;
    border-radius: 10px;
    margin-bottom: 100px;
  } */

  .contato .title {
    text-align: center;
    margin-top: 90px;
    display: block;
    font-size: 20px;
    width: 100%;
  }

  .contato .text {
    width: auto;
    text-align: center;
    font-size: 14px;
    display: block;
    color: #b7b7ca;
    font-weight: 400;
  }

  .contato .form .box-button {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .contato .form .box-button button {
    width: 288px;
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    background-color: #08bbe9;
    color: #fff;
    font-size: 18px;
  }
}

@media only screen and (min-width: 901px) and (max-width: 1299px) {
  .contato .content {
    /* background-color: red; */
    justify-content: center;
  }
  .contato .row1 {
    display: none;
  }

  .contato .form input {
    width: 80%;
  }

  .contato .form .cidade-estado input {
    width: 60%;
  }

  .contato .form .cidade-estado select {
    width: 70%;
  }
}

@media only screen and (min-width: 901px) and (max-width: 1369px) {
  .contato .row2 {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    /* background: red; */
    position: relative;
    overflow: visible;
  }

  .contato img.img {
    width: 430px;
    margin-top: 30px;
    margin-right: -40px;
  }
}
