.duvidas {
  position: relative;
  overflow: visible;
  display: flex;
  padding-top: 100px;
  padding-bottom: 100px;
}

.duvidas-part-2 {
  position: relative;
  overflow: visible;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.duvidas-part-2 .title {
  font-size: 35px;
  color: #10104f;
  text-align: center;
  margin-bottom: 60px;
}

.duvidas-part-2 .content-part-2 {
  display: flex;
  justify-content: space-between;
  /* background: red; */
  width: 100%;
  max-width: 1070px;
  padding: 30px;
  padding-bottom: 200px;
}

.content-part-2 .video-duvida {
  position: relative;
  overflow: visible;
  width: 490px;
  height: 380px;
  border-radius: 5px;
  box-shadow: 0px 0px 0px 12px #08bbe9;

  background-color: #10104f;
}

.duvidas-part-2 .cube {
  position: absolute;
  width: 230px;
  right: 3%;
  bottom: -100px;
}

.video-duvida-data {
  position: absolute;
  bottom: -113px;
  width: 450px;
  height: 100px;
  left: 20px;
  box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, 0.27);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.video-duvida-data .data-title {
  text-align: center;
  font-size: 20px;
  color: #10104f;

  margin-top: 15px;
}

.video-duvida-data .data-text {
  margin-top: 5px;
  display: block;
  text-align: center;
  color: #7f808b;
  /* background: red; */
}

.duvidas .duvida-content {
  display: flex;
}

.duvidas .row1 {
  display: flex;
  position: relative;
  justify-content: center;
  width: 50%;
}

.duvidas .row2 {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  width: 45%;
}

.duvidas .super {
  position: absolute;
  width: 60px;
  right: 130px;
  top: 30px;
}

.duvidas .super-big {
  position: absolute;
  width: 200px;
  left: 12%;
  bottom: -80px;
}

.duvidas .sphere {
  position: absolute;
  width: 160px;
  right: -20px;
  bottom: 50px;
}

.duvidas .cylinder {
  position: absolute;
  width: 140px;
  left: 0;
  top: -50px;
}

.duvidas .box-principal {
  /* background-color: #08BBE9; */
}

.duvidas .box-secundario {
  background-color: #10104f;
  width: 450px;
  height: 360px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  margin-left: 70px;
}

.duvidas .box-secundario h2 {
  color: #08bbe9;
  font-size: 30px;
  padding: 35px 0px;
  padding-bottom: 35px;
}

.duvidas .box-secundario .text {
  color: #fff;
  text-align: center;
}

.duvidas .box-secundario .sub-text {
  margin-top: 30px;
}

.duvidas .box-secundario .email {
  color: #08bbe9;
  margin-top: 5px;
}

.duvidas .tirar-duvidas {
  border-bottom: #e1e2e6 solid 2px;
  width: 80%;
  margin-bottom: 20px;
}

.duvidas .tirar-duvidas button {
  color: #1e0e62;
  font-size: 12px;
  letter-spacing: 2px;
  margin-bottom: 20px;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
}

.duvidas .tirar-duvidas .seta {
  margin-top: -5px;
}

.duvidas .tirar-duvidas span {
  font-weight: bold;
  font-size: 18px;
}

.duvidas .tirar-duvidas p {
  color: #a1a1b0;
  text-align: match-parent;
  font-size: 13px;
  margin-bottom: 20px;
  display: none;
}

.visible {
  display: block !important;
}

.duvidas-part-3 {
  position: relative;
  overflow: visible;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.duvidas-part-3 .title {
  font-size: 35px;
  color: #10104f;
  text-align: center;
  margin-bottom: 60px;
}

.duvidas-part-3 .content-part-3 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px !important;
  padding: 30px;
  margin-left: 10%;
}

.duvidas-part-3 .box-button {
  display: flex;
  justify-content: center;

  margin-top: -150px;
  margin-bottom: -40px;
}

.duvidas-part-3 .box-button a {
  background-color: #08bbe9;
  color: #fff;
  font-size: 18px;
  padding: 7px 20px;
  border-radius: 20px;
  margin-bottom: 80px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.duvidas-part-3 .box-button a:hover {
  background-color: #079fc5;
}

.content-part-3 .video-duvida {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 350px;
  padding: 10px;
  border-radius: 10px;
}
.content-part-3 .video-duvida .img-header {
  width: 350px;

  border-radius: 10px;
}

.content-part-3 .video-duvida .title-blog {
  color: #08bbe9;
  margin-top: 10px;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
}

.content-part-3 .video-duvida .text-blog {
  margin-top: 10px;
  color: #4d4d4d;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
  overflow: hidden;
}

.content-part-3 .video-duvida .footer-blog {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 20px;
}
.content-part-3 .video-duvida .text-footer {
  font-size: 12px;
  font-weight: 600;
  color: #6e6e6e;
}

.duvidas-part-3 .content-part-3 {
  display: flex;
  justify-content: space-between;
  /* background: red; */
  width: 100%;
  max-width: 800px;
  padding: 30px;
  padding-bottom: 200px;
}

.duvidas-part-3 .img-girl {
  position: absolute;
  width: 950px;
  left: -510px;
  top: -390px;
}

.mobile {
  display: none !important;
}

@media only screen and (min-width: 50px) and (max-width: 900px) {
  .desktop {
    display: none !important;
  }

  .mobile {
    display: inline-block !important;
  }

  .duvidas {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 20px;
    overflow: auto;
    overflow-x: hidden !important;
  }

  .duvidas .row1 {
    width: 90% !important;
    position: relative;
    overflow: visible;
  }

  .duvidas .box-secundario {
    background-color: #10104f;
    width: 100%;
    height: 280px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    margin-left: 70px;
  }

  .duvidas .box-secundario .sub-text {
    margin-top: 15px;
  }

  .duvidas .box-secundario h2 {
    margin-bottom: -15px;
    font-size: 20px;
  }

  .duvidas .box-secundario .text {
    color: #fff;
    text-align: center;
    font-size: 14px;
  }

  .duvidas .box-secundario .email {
    color: #08bbe9;
    margin-top: 15px;
  }

  .duvidas .row2 {
    width: 100%;
    margin-top: 50px;
  }

  .duvidas .super {
    width: 90px;
    right: -80px;
    top: 290px;
  }

  .duvidas .cylinder {
    /* display: none; */
    top: -40px;
    width: 80px;
  }

  .duvidas .box-secundario {
    background-color: #10104f;
    width: 100%;
    margin-left: 0;
  }

  .duvidas .tirar-duvidas {
    width: 100%;
  }

  .duvidas-part-2 .title {
    font-size: 20px;
    color: #10104f;
    text-align: center;
    margin-bottom: 30px;
  }

  .duvidas-part-2 .content-part-2 {
    display: flex;
    justify-content: center;
    /* background: red; */
    width: 80%;
    max-width: 1070px;
    padding: 30px;
    padding-bottom: 200px;
    flex-wrap: wrap;
  }

  .content-part-2 .video-duvida {
    position: relative;
    overflow: visible;
    width: 250px;
    height: 220px;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 12px #08bbe9;
    margin-bottom: 140px;

    background-color: #10104f;
  }

  .video-duvida-data {
    position: absolute;
    bottom: -93px;
    width: 90%;
    height: 80px;
    left: 15px;
    box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, 0.27);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .video-duvida-data .data-title {
    font-size: 14px;
  }

  .video-duvida-data .data-text {
    font-size: 10px;
  }

  .duvidas-part-2 .cube {
    /* display: none; */
    width: 170px;
    left: -80px;
    bottom: 130px;
  }

  .sphere {
    position: absolute !important;
    width: 90px;
    /* bottom: 0; */
    top: -70px;
    right: -50px;
  }

  .duvidas-part-3 {
    position: relative;
    overflow: visible;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .duvidas-part-3 .content-part-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 1200px !important;
    padding: 30px;
    margin-left: 0px;
    flex-wrap: wrap;
  }

  .content-part-3 .video-duvida .img-header {
    width: 100%;
  }

  .content-part-3 .video-duvida .title-blog {
    font-size: 17px;
  }

  .content-part-3 .video-duvida .text-blog {
    font-size: 10px;
  }

  .content-part-3 .video-duvida .text-footer {
    font-size: 10px;
  }

  .duvidas-part-3 .title {
    font-size: 20px;
    color: #10104f;
    text-align: center;
    margin-top: -170px;
    margin-bottom: -10px;
  }

  .duvidas-part-3 .img-girl {
    display: none;
  }

  .duvidas-part-3 .box-button a {
    background-color: #08bbe9;
    color: #fff;
    font-size: 12px;
    padding: 7px 20px;
    border-radius: 20px;
    margin-bottom: 80px;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.2s ease;
  }

  .duvidas-part-3 .box-button {
    margin-top: 0px;
  }
}

@media only screen and (min-width: 901px) and (max-width: 1299px) {
  .duvidas .row1 {
    width: 60%;
  }
}
