.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #10104f;
  padding-top: 40px;
  padding-bottom: 70px;
}

.footer .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  max-width: 1400px;
  border-bottom: 1px solid #e2e2e9;
  padding-bottom: 30px;
}

.footer .content .row1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer .content .row2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.footer .content .row3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer .content .row1 .logo {
  width: 170px;
}

.footer span.text {
  color: #e2e2e9;
  font-size: 15px;
  font-weight: 100;
  margin-top: 10px;
  line-height: 25px;
}

.footer span.text-phone {
  color: #e2e2e9;
  font-size: 15px;
  font-weight: 100;
  margin-top: 10px;
  line-height: 25px;

  text-align: center;
}

.footer span.copy {
  margin-top: 40px;
}

/* img.stores {
    width: 450px;
} */

.footer .content .box-rede-social {
  display: flex;
}

.footer .content .box-rede-social img {
  width: 210px;
  height: 70px;
  margin: 0px 10px;
}

.footer .redes-sociais {
  display: flex;
  justify-content: space-between;

  width: 200px;
}

.footer .redes-sociais img {
  cursor: pointer;
}

a.btn-baixar {
  margin-top: 20px;
  background-color: #08bbe9;
  color: #fff;
  padding: 10px 20px;
  border-radius: 20px;
}

.mobile {
  display: none !important;
}

@media only screen and (min-width: 50px) and (max-width: 1200px) {
  .desktop {
    display: none !important;
  }
  .mobile {
    display: inline-block !important;
  }

  .footer .content {
    width: 80%;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0px 20px;
  }

  img.stores {
    width: 300px;
  }

  .footer .content .row1 {
    margin-bottom: 20px;
    padding: 0px 5px;
  }

  .footer .content .row2 {
    margin-bottom: 20px;
    padding: 0px 5px;
  }

  .footer .content .row3 {
    margin-bottom: 20px;
    padding: 0px 5px;
  }

  .footer .content .box-rede-social img {
    width: 120px;
    height: 40px;
    margin: 0px 6px;
  }

  .footer span.text {
    color: #e2e2e9;
    font-size: 15px;
    font-weight: 100;
    margin-top: 10px;
    line-height: 25px;
    text-align: center;
  }
}
