.lincenciado {
  background-image: url('../img/Licenciado.png');

  display: flex;
  justify-content: center;
  align-items: center;
}

.lincenciado .content {
  /* max-width: 600px; */
  text-align: center;

  margin-top: 80px;
  margin-bottom: 80px;

  /* background: red; */
}

.lincenciado .box-button {
  display: flex;
  justify-content: center;
}

.lincenciado .box-button a {
  background-color: #ffffff;
  color: #10104f;
  font-size: 18px;
  padding: 7px 20px;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 40px;
  transition: background-color 0.2s ease;
}

.lincenciado .content h1 {
  color: #fff;
  font-size: 35px;
  font-weight: bold;
}

.mobile {
  display: none !important;
}

@media only screen and (min-width: 50px) and (max-width: 800px) {
  .desktop {
    display: none !important;
  }
  .mobile {
    display: inline-block !important;
  }

  .lincenciado .content {
    /* max-width: 600px; */
    text-align: center;

    margin-top: 40px;
    margin-bottom: 40px;

    /* background: red; */
  }

  .lincenciado .content h1 {
    font-size: 20px;
  }

  .lincenciado .box-button a {
    font-size: 12px;
  }
}
