.mudanca {
  background-image: url('../img/BannerMudanca.png');
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  width: 100%;
}
.mudanca .box-video {
  width: 100%;
  height: 260px;
  background: #ffffff;
}

.mudanca .footer {
  background: none;
}

.mudanca .footer p.paragraph-mudanca {
  max-width: 900px;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  margin-top: 190px;
}

.mudanca .box-button {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.mudanca .box-button a {
  background-color: #08bbe9;
  color: #fff;
  font-size: 18px;
  padding: 7px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.mudanca .box-button a:hover {
  background-color: #079fc5;
}

/* .mudanca .box-button {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.mudanca .box-button a {
  background-color: #08bbe9;
  color: #fff;
  font-size: 18px;
  padding: 7px 20px;
  border-radius: 20px;
} */

.mudanca .box-video iframe {
  position: absolute;
  width: 100%;
  height: 50%;
  max-width: 850px;
  max-height: 637px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  /* top: 20%; */
  top: 210px;
  border-left: solid 25px #fff;
  border-right: solid 25px #fff;
  border-radius: 10px;
}

.mudanca .box-video .span-hedden {
}
.mudanca .mudanca-header .mudanca-title-text {
  margin-top: -15px;
  color: #fff;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 15px;
}

.mudanca .mudanca-header {
  padding-top: 40px;
  text-align: center;
  margin-bottom: 100px;
}

.mudanca .mudanca-header .mudanca-text {
  color: #7f808b;
  font-size: 16px;
  font-weight: 500;
  margin-top: 15px;
}

.mudanca .mudanca-content {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  justify-content: space-between;
  margin-bottom: 80px;
}

.mudanca .mudanca-content .mudanca-content-title {
  /* margin-top: 80px; */
  color: #08bbe9;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 15px;
  letter-spacing: 2px;
  margin-top: 25px;
}

.mudanca .mudanca-content .mudanca-content-text {
  /* margin-top: 80px; */
  color: #7f808b;
  font-size: 14px;
  margin-bottom: 15px;
  letter-spacing: 2px;
}
.mudanca .button-box {
  /* margin-top: 80px; */
}

.mudanca .button {
  display: inline-block;
  background-color: #08bbe9;
  color: #fff;
  font-weight: bold;
  font-size: 25px;
  padding: 10px 20px;
  /* width: 60px; */
  border-radius: 30px;
  margin-bottom: 50px;
}

.mobile {
  display: none !important;
}

@media only screen and (max-width: 800px) {
  .mudanca .mudanca-content {
    margin-top: -50px;
    justify-content: center;
  }

  .mudanca .mudanca-header {
    margin-top: 45px;
    text-align: center;
    margin-bottom: 80px;
  }

  .mudanca .mudanca-header .mudanca-title-text {
    margin-top: -15px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
  }

  .padding-top {
    padding-top: 15px;
  }

  .mudanca .box-video {
    width: 100%;
    height: 150px;
    background: none;
  }

  .mudanca .box-video iframe {
    position: absolute;
    width: 80%;
    height: 25%;
    top: 180px;
  }

  .mudanca .footer p.paragraph-mudanca {
    max-width: 900px;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    margin-top: -5% !important;

    padding: 10px;
  }

  .mudanca .button {
    font-size: 15px;
  }

  .box-content {
    width: 300px;
  }

  .mudanca .mudanca-header {
    padding: 5px;
  }

  .mudanca .box-button {
    margin-top: 50px;
  }

  .mudanca .box-button a {
    background-color: #08bbe9;
    color: #fff;
    font-size: 12px;
    padding: 7px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }

  .mobile {
    display: inline-block !important;
  }
  .desktop {
    display: none;
  }
}
