.navbar {
  padding: 1.25rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1e0e62;
  border-bottom-left-radius: 0, 62rem;
  border-bottom-right-radius: 0, 62rem;
  margin-bottom: 0.75rem;
}

.navbar span {
  display: none;

  position: absolute;
  overflow-y: hidden;
  right: 20px;
  color: #fff;

  cursor: pointer;
}

.navbar span:hover {
  color: #bfbfbf;
}

.navbar img {
  width: 9.37rem;
}

.navbar div.options {
  display: flex;
  align-items: center;
}

.navbar a.download-app {
  color: #fff;
  font-size: 0.87rem;
  text-transform: uppercase;
  margin-right: 1.25rem;
  transition: color 0.9s ease;
}

.navbar a.download-app:hover {
  color: #bfbfbf;
}

.navbar a.portal {
  background-color: #08bbe9;
  color: #fff;
  font-size: 1.2rem;
  padding: 0.43rem 1.25rem;
  border-radius: 1.25rem;
  margin-left: 2.5rem;
}

.navbar a.portal:hover {
  background-color: #079fc5;
  transition: background-color 0.2s ease;
}

@media only screen and (min-width: 50px) and (max-width: 900px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 1.25rem 3%;
  }

  .navbar span.show {
    display: block;
  }

  .navbar div.options {
    display: none;
    padding: 0, 62rem 0px;
    opacity: 0;
  }

  .navbar img {
    margin-bottom: 0.62rem;
  }

  .navbar a.download-app {
    font-size: 0.75rem;
    margin-bottom: 0.62rem;
  }

  .navbar a.portal {
    display: block;
    text-align: center;
    width: 150px;
    background-color: #08bbe9;
    color: #fff;
    font-size: 1rem;
    padding: 0.43rem 1.25rem;
    border-radius: 1.25rem;
    margin-left: 0px;
    margin-top: 2rem;
  }
}
