.produtos {
  z-index: 1;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: visible;
}

.produtos .header {
  margin-bottom: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  padding-bottom: 25px;
}

.produtos .img3 {
  /* width: 100%; */
  position: absolute;
  width: 600px;
  top: -50px;
  right: -10%;
}

.produtos .row1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.produtos .row2 {
  display: flex;
  width: 60%;
  height: 50%;
  justify-content: flex-end;
  flex-direction: column;
}

.produtos .produtos-title {
  color: #1e0e62;
  font-size: 35px;
  font-weight: bold;
}

.produtos .box-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.produtos .protutos-text {
  max-width: 825px;
  margin-top: 20px;
  font-size: 20px;
  color: #7f808b;
}

.produtos .protutos-text-footer {
  width: 455px;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 400;
  color: #7f808b;
}

.produtos .produtos-content {
  position: relative;
  overflow: visible;
  display: flex;
  width: 100%;
  max-width: 1000px;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 60px;
  /* flex-wrap: wrap; */
}

.produtos .produtos-content-footer {
  position: relative;
  overflow: visible;
  display: flex;
  width: 100%;
  max-width: 1250px;
  margin-top: -10px !important;
  justify-content: space-between;
}

.produtos .produtos-content-footer .img-office {
  width: 550px;
  margin-bottom: -5px;
  /* margin-left: -100px; */
}

.produtos .box-button {
  display: flex;
  justify-content: center;
}

.produtos .box-button a {
  background-color: #08bbe9;
  color: #fff;
  font-size: 18px;
  padding: 7px 20px;
  border-radius: 20px;
  margin-bottom: 80px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  text-decoration: none;
}

.produtos .box-button-footer {
  display: flex;
  justify-content: flex-start;

  width: 455px;
}

.produtos .box-button-footer a.footer {
  background-color: #10104f;
  color: #fff;
  font-size: 18px;
  padding: 7px 20px;
  border-radius: 20px;
  margin-top: 60px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.produtos .box-button a:hover {
  background-color: #079fc5;
}

.produtos .box-button-footer a.footer:hover {
  background-color: #09092a;
}

/* .produtos .produtos-content-2 {
  display: flex;
  width: 45%;
  max-width: 750px;
  justify-content: space-between;
  margin-bottom: 80px;
  background: red;

  flex-wrap: wrap;
} */

.produtos .sub-title {
  margin-top: 20px;
  color: #151439;
  font-size: 20px;
}

.produtos .sub-title-footer {
  width: 455px;
  margin-top: 20px;
  color: #151439;
  font-size: 20px;
  font-weight: bold;
}

.produtos .produtos-detail {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  padding: 40px 20px 20px 20px;
  box-shadow: 5px 5px 10px -5px rgba(0, 0, 0, 0.77);
  margin-top: 40px;
  /* background: red !important; */
}

.produtos-content-footer .row2 {
  display: flex;
  /* align-items: flex-start; */
  justify-content: flex-start;
  align-items: center;
}

.produtos .produtos-detail .img {
  z-index: 1;
  position: absolute;
  top: 0;
  margin-bottom: 30px;
}

.produtos .produtos-detail .img-product-2 {
  width: 75px;
  position: absolute;
  top: 0;
  margin-bottom: 30px;
}

.produtos .produtos-content-title {
  color: #10104f;
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 20px;
}

.produtos .produtos-content-title-product-2 {
  color: #10104f;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
  margin-top: 20px;
}

.produtos .produtos-content-text {
  color: #7f808b;
  /* margin-bottom: 15px; */
}

.produtos .img2 {
  position: absolute;
  width: 230px;
  left: 0;
  /* bottom: 120px */
  top: 0;
}

.produtos .img4 {
  position: absolute;
  width: 230px;
  right: 10%;
  bottom: -60px;
}

.mobile {
  display: none !important;
}

@media only screen and (min-width: 50px) and (max-width: 800px) {
  .desktop {
    display: none !important;
  }
  .mobile {
    display: inline-block !important;
  }

  .produtos .header {
    margin-bottom: 90px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    padding-bottom: 10px;
  }

  .produtos .row1 {
    display: flex;
    margin-top: 40px;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .produtos .produtos-content {
    padding-bottom: 0px;
    gap: 20px;
    /* margin-bottom: -1300px; */
  }

  .produtos-detail {
    position: relative;
    overflow: visible;
    /* margin-bottom: 20px !important; */
  }

  .produtos .produtos-detail .img {
    position: absolute;
    top: -30px;
    margin-bottom: 30px;
    width: 60px;
  }

  .produtos .img2 {
    width: 90px;
    /* display: none; */
  }

  .produtos .img3 {
    display: none;
  }

  .produtos .row2 {
    display: none;
  }

  .produtos .produtos-title {
    color: #1e0e62;
    font-size: 20px;
    font-weight: bold;
  }

  .produtos .produtos-content-title {
    font-size: 16px;
  }

  .produtos .produtos-content-text {
    color: #7f808b;
    font-size: 14px;
  }

  .produtos .box-title {
    margin-left: 0;
    width: 90%;
  }

  .produtos .protutos-text {
    margin-top: 20px;
    color: #7f808b;
    font-size: 14px;
  }

  .produtos .sub-title {
    margin-top: 20px;
    color: #151439;
    font-size: 16px;
  }

  .produtos .box-button {
    margin-top: -30px;
  }

  .produtos .box-button a {

    font-size: 12px;
  }

  .produtos .img4 {
    position: absolute;
    width: 97px;
    right: 5%;
    bottom: -20px;
  }

  .produtos .produtos-detail .img-product-2 {
    width: 60px;
    position: absolute;
    top: -30px;
    margin-bottom: 30px;
  }

  .produtos .produtos-content-title-product-2 {
    color: #10104f;
    font-size: 10px;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .produtos .produtos-content,
  .produtos .produtos-content-2 {
    display: flex;
    width: 70%;
    max-width: 1300px;
    justify-content: center;
    margin-bottom: 80px;
    flex-wrap: wrap;
    margin-top: -80px;
  }

  .produtos .produtos-content-mobile {
    display: flex !important;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    /* background: red; */
    width: 100%;
    padding: 10px;
  }

  .produtos .produtos-content-mobile .produtos-detail {
    width: 120px;
    display: flex;
    height: 70px
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    padding: 40px 20px 0px 20px;
    box-shadow: 5px 5px 10px -5px rgba(0, 0, 0, 0.77);
    margin-top: 40px;
    /* background: red !important; */
  }

  .produtos .produtos-content-footer {
    /* background-color: red; */
    position: relative;
    overflow: visible;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1250px;
    margin-top: -10px;
    justify-content: center;
    align-items: center;
  }
  
  .produtos .produtos-content-footer .img-office {
    width: 100%;
    margin-bottom:10px;
    /* margin-left: -100px; */
  }


  .produtos-content-footer .row2 {
    width: 90%;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    texts-align: center;
  }

  .produtos .sub-title-footer {
    width: auto;
    font-size: 18px;
    texts-align: center;
  }

  .produtos .protutos-text-footer {
    width: auto;
    font-size: 14px;
    text-align: center;
  }
  
  .produtos .box-button-footer {
    display: flex;
    justify-content: flex-start;
  
    width: auto;
  }
  
  .produtos .box-button-footer a.footer {
    background-color: #10104f;
    color: #fff;
    font-size: 12px;
    padding: 7px 20px;
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 40px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
}

@media only screen and (min-width: 900px) and (max-width: 1200px) {
  .produtos .produtos-content,
  .produtos .produtos-content-2 {
    display: flex;
    width: 80%;
    max-width: 1300px;
    justify-content: center;
    margin-bottom: 80px;
    flex-wrap: wrap;
    margin-top: -80px;
  }

  .produtos .img2 {
    width: 200px;
  }

  .produtos .img3 {
    display: none;
  }
}

@media only screen and (min-width: 2000px) {
  .produtos .header {
    padding-bottom: 70px;
  }
}
