@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

@import './contato.css';
@import './produtos.css';
@import './mudanca.css';
@import './video.css';
@import './banner.css';
@import './navbar.css';
@import './duvidas.css';
@import './blog.css';
@import './footer.css';
@import './lincenciado.css';

* {
  margin: 0px;
  padding: 0px;
  font-family: 'DM Sans', sans-serif;
  text-decoration: none;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-y: hidden;
  max-width: 100%;
}

.emphasis {
  color: #08bbe9;
}

.emphasis-black {
  color: #10104f;
}

.whatsapp {
  position: fixed;
  z-index: 100;
  bottom: 50px;
  right: 40px;
}

@media only screen and (min-width: 50px) and (max-width: 800px) {
  .whatsapp {
    display: none;
  }
}
