.video {
  /* background-color: #08BBE9; */
  width: 100%;
  background-image: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: visible;
  margin-top: 80px;
}

.video .video-header {
  width: 70%;
  background: none;
  display: flex;
  justify-content: center;
  z-index: 4;
}

.video .video-header .video-title-text {
  /* margin-top: 40px; */
  color: #10104f;
  font-size: 35px;
  font-weight: bold;
}

.video .video-header .box-text {
  margin-top: 40px;
  margin-bottom: 60px;
  /* background-color: red; */
  text-align: center;
}

.video .video-header .video-box-img-1 {
}

.video .video-header .box-video-text {
}

.video .video-header .video-text {
  color: #10104f;
  font-size: 13px;
  /* text-align: center; */
}

.video .video-img-1 {
  width: 450px;
}

.video .box-video-play {
  overflow: hidden;
  width: 60%;
  height: 60vh;
  /* margin-top: -10%; */
  margin-bottom: 40px;
  z-index: 2;
}

.video .video-img-2 {
  width: 400px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 3;
}

.video .video-img-3 {
  width: 400px;
  position: absolute;
  top: 150px;
  right: 0px;
}

.video .produtos-title {
  color: #1e0e62;
  font-size: 40px;
  font-weight: bold;
}

.video .box-title {
  display: flex;
  flex-direction: column;
  margin-left: 20%;
  text-align: center;
}

.video .protutos-text {
  margin-top: 15px;
  color: #7f808b;
}

.video .produtos-content-video {
  display: flex;
  width: 100%;
  max-width: 1000px;
  justify-content: space-between;
  margin-bottom: 80px;
}

.video .produtos-detail-video {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.video .produtos-detail-video .img {
  margin-bottom: 30px;
  width: 100px;
}

.video .produtos-content-title {
  color: #10104f;
  font-size: 21px;
  font-weight: media;
  text-align: center;
}

.video .produtos-content-text {
  color: #7f808b;
  margin-bottom: 15px;
}

.video .img2 {
  position: absolute;
  width: 230px;
  left: 0;
  /* bottom: 120px */
  top: 0;
}

.video .box-button {
  background-color: #08bbe9;
  font-size: 18px;
  padding: 7px 20px;
  border-radius: 20px;
  border: none;
  margin-bottom: 80px;
  cursor: pointer;
}

.video .box-button a {
  color: #fff;
}

.video .box-button:hover {
  background-color: #079fc5;
  transition: background-color 0.2s ease;
}

img.acloud {
  width: 110px;
  position: absolute;
  bottom: 5%;
  left: 5%;
}

img.rocket-girl {
  display: block;
  width: 250px;
  position: absolute;
  top: 0;
  right: 0;
}

.mobile {
  display: none;
}

@media only screen and (min-width: 50px) and (max-width: 900px) {
  .mobile {
    display: block;
  }

  .video .box-button {
    background-color: #08bbe9;
    color: #fff;
    font-size: 12px;
    padding: 7px 20px;
    border-radius: 20px;
    border: none;
    margin-bottom: 57px;
    cursor: pointer;
  }

  .video .video-header .video-title-text {
    font-size: 20px;
  }

  .video .produtos-content-title {
    font-size: 12px;
  }

  .video .produtos-content-video {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px 0px;
    padding: 0px 50px;

    margin-top: -25px;
    margin-bottom: 37px;
  }

  .video .produtos-detail-video .img {
    margin-bottom: 10px;
    width: 52px;
  }

  img.acloud {
    /* display: none; */
    bottom: 40%;
    left: 1%;
    width: 56px;
  }

  img.rocket-girl {
    display: none;
  }

  img.video-img-1 {
    display: none;
  }

  img.video-img-2 {
    display: none;
  }

  .video .video-img-3 {
    width: 200px;
    top: 50%;
  }

  .video .video-header .box-video-text {
    /* width: 200px; */
  }

  .video .video-header .video-text {
    color: #fff;
    font-size: 13px;
    margin-bottom: 150px;
  }

  .video .video-header {
    width: 90%;
    z-index: 0;
  }

  .video .box-video-play {
    /* overflow: hidden; */
    width: 90%;
    margin-top: -10%;
    /* height: 60vh; */
    /* margin-top: -10%; */
    /* margin-bottom: 40px; */
    z-index: 2;
  }
}

@media only screen and (min-width: 50px) and (max-width: 1220px) {
  img.rocket-girl {
    display: none;
  }

  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }
}

@media only screen and (min-width: 901px) {
  .video .video-header .box-video-text {
    width: 470px;
  }

  .video .video-img-2 {
    width: 260px;
  }

  .video .video-img-3 {
    width: 260px;
  }

  .video .box-video-play {
    width: 70%;
    margin-top: -10%;
  }
}

@media only screen and (min-width: 1000px) {
  /* img.rocket-girl {
    display: none;
  } */

  .video .box-video-play {
    width: 70%;
    /* margin-top: -10%; */
    height: 70vh;
  }
}

@media only screen and (min-width: 2000px) {
  .video .box-video-play {
    width: 70%;
    margin-top: -8%;
    height: 90vh;
  }
}
